{% set assetHash = global.randomString() %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css?{{ assetHash }}" />
</head>

<body>
    <main>
            <header class="wrapper header">
                <h1>{{ title }}</h1>
                <p>
                    {{ summary }}
                </p>
            </header>
            <article class="wrapper region">
                {{ content | safe }}
            </article>
    </main>
</body>

</html>
