.prose {
    --wrapper-max-width: 55rem;
}

.header {
    padding-top: var(--size-8);
    padding-bottom: var(--size-4);
    font-size: var(--size-2);
}

.header > h1 {
    margin-bottom: var(--size-4);
}
