.header {
    margin-top: var(--leading-2);
    margin-bottom: var(--leading-2);
    font-size: var(--size-1);
    font-style: italic;
}

.header > h1 {
    font-style: normal;
    margin-bottom: var(--leading);
}
