@import 'variables_auto.css';
@import 'variables.css';
@import 'reset.css';
@import 'fonts.css';
@import 'base.css';
@import 'utilities.css';
@import 'blocks.css';
@import 'workflow_figure.css';
@import 'tool_cards.css';
