:root {
    --font-base: "GentiumPlusW", sans-serif;
    --font-display: "GentiumPlusW", sans-serif;
    --font-mono: "Inconsolata", monospace;

    --color-dark: #1d1d1d;
    --color-light: #fcfbfa;
    --color-code-bg: #e8e8e8;

    --gutter: var(--size-0);
}
