<div class="workflow-figure">
    <div class="workflow-header">
        Task
    </div>
    <div class="workflow-header">
        Tool
    </div>
    <div class="workflow-header">
        Output
    </div>
    <div class="step">
        Corpus collection & content extraction
    </div>
    <div class="tool">
        <a href="https://neuroquery.github.io/pubget/">pubget</a>
    </div>
    <div class="location">
        <a href="https://osf.io/d2qbh/">OSF</a>
    </div>
    <div class="workflow-arrow"><img alt="↓" src="/images/arrow.svg" width="32" height="32"></div>
    <div class="workflow-empty"></div>
    <div class="workflow-empty"></div>
    <div class="step manual-annotation">
        Manual annotation
    </div>
    <div class="tool manual-annotation">
        <a href="https://jeromedockes.github.io/labelbuddy/">labelbuddy</a>
    </div>
    <div class="location manual-annotation">
        <a href="https://litmining.github.io/labelbuddy-annotations/">labelbuddy-annotations</a>
    </div>
    <div class="workflow-sides step and-or">
        <fieldset>
            <legend>and/or</legend>
        </fieldset>
    </div>
    <div class="border-bottom tool"></div>
    <div class="border-bottom location"></div>
    <div class="workflow-sides tool"></div>
    <div class="workflow-sides location"></div>
    <div class="step automatic-extraction workflow-task">
        Automatic information extraction
    </div>
    <div class="tool automatic-extraction">
        <a href="https://neuroquery.github.io/pubget/">pubget</a>,
        <a href="https://github.com/neurodatascience/pubextract/">pubextract</a>,
        custom code
    </div>
    <div class="location automatic-extraction">
        GitHub
    </div>
    <div class="workflow-arrow"><img alt="↓" src="/images/arrow.svg" width="32" height="32"></div>
    <div class="workflow-empty"></div>
    <div class="workflow-empty"></div>
    <div class="step">
        Analysis
    </div>
    <div class="tool">
        Custom code
    </div>
    <div class="location">
        GitHub
    </div>
</div>
